body
{
font-family: 'Open Sans', sans-serif;

}


.kontent
{
	text-align: center;	
	
}

header{
padding-bottom: 30px;

}
#nav a:hover {
	color:firebrick;

	
}

#nav a{
	font-family: serif;

}

#down_panel p    
{ 
	margin-bottom: 35px;	
}
.kontent figcaption
{
	margin-top: 8px;
}
.fa-diamond{         /* icon from navbar*/
color:rgb(0, 0, 255);

}
#uphead{
height: auto;
padding-bottom: 30px;

}

#leftbody{
height: auto;

}


#rightbody{


}

#footer{
height: auto;
background-color: #181C30;
border-top:5px,solid,red;

}

.heading{
	padding-top:10px;

}
.heading h5,h3{
	margin-top:-5px;
}
.heading small{
	color:grey;	
}

.dropdown-item img{
	max-width:20px;
	}

.tabela img{
width: auto;
float:left;
max-width:35px;


}
.tabela th{
	color:rgb(76, 83, 146)
}

.tabela span{
font-weight: bold;
}


.cryp_calc{
	color: rgb(134, 42, 219);
font-weight: bold;

}

.fiat_calc{
	color: rgb(25, 118, 134);
font-weight: bold;

}




/* general currencies*/
.img-fiat{
max-width: 25px;
}
	
#eur, #usd, #gbp, #chf{
color: firebrick;
}
.currencies{
	color:green;
	font-weight:bold;
}

	

  /* cards right side */

 #fiat h5{                /* fiat currency h */
	padding-bottom:10px;
	

}

#info_card{        
font-size: medium;

}

#lastnews img{         
max-width: 65px;  
}

#lastnews{                 
margin-top:20px;

}

#calculator{
	margin-top:20px;
	margin-bottom:40px;
	
	}

#chart{
		margin-top:20px;
		
		}	


 /* accordion news   */
#accordion{        
			padding-bottom: 40px;
			
			}
#accordion img{   
float:left;
max-width: 65px;  
}

.title {              
cursor: pointer;

 }



  /* FEED LIST   */

#feed-list{
	height: 210px;
	overflow:auto;
	
}

#feed-list li{
max-height: 100px;
background-color: #F8F9FB;
padding:3px;

}

#feed-list span{
	color: black;
}

#feed-list img{
	max-width:40px;
	float:left;
}

/*INDYVIDUAL CRYP PAGE  */

.newsy-ind{
	padding-top:50px;
	margin-bottom: 20px;
	}


#head-indyvidualpage img{
		max-width: 70px;
		
}	
		

/* INDYVIDUAL PAGE - WELL (STUDNIA)  */
.jumbotron {       
	padding-top: 20px;
	padding-bottom: 0; 
	padding-left: 10px;
	  }

  
.jumb-right span{        


	}	 
	
.jumbotron h6 {	     
font-weight: bold;
}

.value-ind-right{
	padding-left:10px;

}

#high_ind, #low_ind, #change_ind, #calc_ind{
font-weight: bold;

}	
#calc_ind{
	color:rgb(41, 75, 110)
}
#high_ind{
	color:green;
}
#low_ind{
	color:red;
}
#kapital_ind, #wolumen_ind{ 
	font-weight: bold;

}

#pricepln_ind{
	font-size:xx-large; 
	color:green; 
	font-weight:bold;

}

#well_price span{
	font-size:large; 
	color: grey; 
	font-weight:bold;
}

#well_general{

}

.fa-level-up{
color:green;
}

.fa-level-down{
color: red;
}