body
{
	
	
	color: #633a3a;
    font-family: 'Open Sans', sans-serif;
	
	
}


.kontent
{
	text-align: center;
	
}

.kontent img
{
	width: 100%;
	height: auto;
	
}

.kontent p
{
	margin-bottom: 30px;
}

.kontent figcaption
{
	margin-top: 8px;
}

#uphead{
height: auto;




}

#leftbody{
height: auto;


}


#rightbody{
height: auto;

}

#footer{
height: auto;
background-color: #181C30;
border-top:5px,solid,red;


}

.card img{
	
	max-width: 65px;
	margin:0 auto;
    
}


.tabela img{
width: auto;
float:left;
max-width:35px;


}

.tabela span{
font-weight: bold;
}




.cryp_calc{
	color: rgb(134, 42, 219);
font-weight: bold;

}

.fiat_calc{
	color: rgb(25, 118, 134);
font-weight: bold;

}


#fiat h6{
	font-weight: bold;

}

#belka-fiat h5{

display: inline;
}


#info_card{
font-size: medium;

}

.img-acordion{
float:left;


}



<div class="card">
<div class="card-header" id="headingOne">
  <h5 class="mb-0">
	  <img  class="card-img-top img-fluid img-acordion" id="img^" > 
	  <span id="title^" class="text-primary" data-toggle="collapse" data-target="#collapse^"> </span> <br>  
  </h5>
</div>

<div id="collapse^" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="card-body" >
	<p id="body^"> </p>
	<a id="url^"  class="btn btn-outline-primary"><i class="fa fa-newspaper-o"></i>Czytaj artykuł</a>
	<br> <small><b>Kategorie:</b> <span id="categories^"></span> </small>
  </div>
</div>

</div>   