body
{
font-family: 'Open Sans', sans-serif;

}


.kontent
{
	text-align: center;	
	
}

header{
padding-bottom: 30px;

}

#down_panel p    
{ 
	margin-bottom: 35px;	
}
.kontent figcaption
{
	margin-top: 8px;
}

#uphead{
height: auto;
padding-bottom: 30px;

}

#leftbody{
height: auto;

}


#rightbody{


}

#footer{
height: auto;
background-color: #181C30;
border-top:5px,solid,red;

}



.tabela img{
width: auto;
float:left;
max-width:35px;


}
.tabela th{
	color:chocolate;
}

.tabela span{
font-weight: bold;
}

.img-fiat{
max-width: 20px;


}


.cryp_calc{
	color: rgb(134, 42, 219);
font-weight: bold;

}

.fiat_calc{
	color: rgb(25, 118, 134);
font-weight: bold;

}


#fiat h6{                /* fiat currency */
	font-weight: bold;
	
}



#info_card{        
font-size: medium;

}

#lastnews img{         /* img lastnews */
max-width: 65px;  
}

#lastnews{                 
margin-top:20px;

}


#calculator{
	margin-top:20px;
	
	}

#chart{
		margin-top:20px;
		
		}	

#accordion img{    /* img acordion (news)  */
float:left;
max-width: 65px;  
}

.title {               /* title news  */
cursor: pointer;

 }

#head-indyvidualpage img{
max-width: 80px;

}



.jumbotron {               /* delete padding on bootstrap jumbotron  */
		padding-top: 20px;
		padding-bottom: 0; 
  padding-left: 10px;
  }


    /* right side on jumbotron for <span>  */
.jumb-right span{        


}
                    /* right side on jumbotron for <span>  */
.value-ind-right{
	padding-left:10px;

}

.newsy-ind{
padding-top:50px;

}